{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block header %}
    <div class="example-wrapper">
        <h1><img src="{{ asset('image/logo-512.png') }}" alt="" class="logobucket">Bucket-List</h1>
        <nav>
            <ul>
                <li>
                    <a href="">Home</a>
                </li>
            </ul>
        </nav>
    </div>

{% endblock %}

{% block body %}

<div class="example-wrapper">


    <div>
        <h2>Ceci est la page d'accueil !</h2>
    </div>

</div>
{% endblock %}

{% block footer %}
    <div class="example-wrapper" id="divfooter">
        <div><p>&copy Bucket-list</p></div>

        <div><p>{{ date }}</p></div>
    </div>
{% endblock %}
