{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block header %}
    <div class="example-wrapper">
        <h1><img src="{{ asset('image/logo-512.png') }}" alt="" class="logobucket">Bucket-List</h1>
        <p>Home</p>
    </div>

{% endblock %}

{% block body %}

<div class="example-wrapper">


    <div>
        <p>Ceci est la page d'accueil !</p>
    </div>

</div>
{% endblock %}

{% block footer %}
    <div class="example-wrapper">
        <p>&copy Bucket-list</p>

        <p>{{ date }}</p>
    </div>
{% endblock %}
