{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}


{% block body %}

<div class="example-wrapper">
    <div>
        <h2>Ceci est la page d'accueil !</h2>
    </div>
</div>
{% endblock %}

