


.example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
.example-wrapper code { background: #F5F5F5; padding: 2px 6px; }

.logobucket {width: 2rem; }

header {
    background-color:  #9384D1;
    padding-top: 5px;
    padding-bottom: 5px;
}

body {
    background-color:  #FFEBEB;
    margin : 0%;
}


ul>li{
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover{

    color: blue;
}


footer {
    margin-top: 35%;
    padding-bottom: 5px;
    background-color: #9384D1;
}

#divfooter {
    display: flex;
    justify-content: center;

}