{% extends 'base.html.twig' %}



{% block list %}
    <a href="{{ path('wish_wisheswish_list') }}">Detail</a>
{% endblock %}

{% block detail %}
    <a href="{{ path('wish_wisheswish_detail') }}">List</a>
{% endblock %}