{% extends 'base.html.twig' %}

{% block list %}
    <a href="{{ path('wish_wisheswish_list') }}">List</a>
{% endblock %}

{% block detail %}
    <a href="{{ path('wish_wisheswish_detail') }}">Detail</a>
{% endblock %}
